.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-light.fixed-top
    .container
      a.navbar-brand(href="/") myrealtrip
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="items") 투어

          //-로그인이 안되어 있는 경우
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 회원가입
          
          //-로그인이 되어 있는 경우   
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 마이 페이지
            li.nav-item
              a.nav-link(href='/signout') Signout
        
          
