extends layout

block hero-unit
  .jumbotron.text-center
    .container
      h1 마이리얼트립에 오신 걸 환영합니다.
      p
        | MyrealTrip help you choose nice place for trip. 
        | Please enjoy and have a nice trip for youself!
        | And if you have any problems while
        | using this site, please let me know that :)
      p
        a.btn.btn-primary.my-2(href='https://www.google.com/gmail/')  Send Gmail 
        
block content
  