extends layout

block hero-unit
  .jumbotron.text-center
    .container
      h1 어디로 떠나세요?
    
    form.form-inline.search-input-group(action='/items', method = 'GET')
      i.fa.fa-search
      input.form-control(type='text', size = '30',display='center',name='term',placeholder='검색해보세요', aria-label='Search', value=term)
    p
      | MyrealTrip help you choose nice place for trip. 
      br
      | Please enjoy and have a nice trip for youself!
      br
      | And if you have any problems while
      br
      | using this site, please let me know that :)
      br
      br
    p
      a.btn.btn-primary.my-2(href='https://www.google.com/gmail/')  Send Gmail    
           

block content
  