<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <head>
    </head>

    <main role = "main">
        <section class = "jumbotron text-center">
            <div class = "container">
                <h1>마이리얼트립에 오신 걸 환영합니다.</h1>
                <p>
                    MyrealTrip help you choose nice place for trip. Please enjoy and
                    have a nice trip for youself! And if you have any problems while
                    using this site, please let me know that :)
    
                </p>
                <p>
                    <a href="https://www.google.com/gmail/" class="btn btn-primary my-2"> Send Gmail </a> 
                </p>
            </div>

        </section>

        <div class="album py-5 bg-light">
            <div class="container">
        
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/america.jpg" class="card-img-top" alt="america">
                        <div class="card-body">
                            <p class="card-text">
                            1. 미국으로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/australia.jpg" class="card-img-top" alt="australia">
                        <div class="card-body">
                            <p class="card-text">
                            2. 호주로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/canada.jpg" class="card-img-top" alt="canada">
                        <div class="card-body">
                            <p class="card-text">
                            3. 캐나다로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/danang.jpg" class="card-img-top" alt="danang">
                        <div class="card-body">
                            <p class="card-text">
                            4. 다낭으로 떠나는 여행
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/dubai.jpg" class="card-img-top" alt="dubai">
                        <div class="card-body">
                            <p class="card-text">
                           5. 두바이로 떠나는 여행
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/egypt.jpg" class="card-img-top" alt="egypt">
                        <div class="card-body">
                            <p class="card-text">
                            6. 이집트로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/kenya.jpg" class="card-img-top" alt="kenya">
                        <div class="card-body">
                            <p class="card-text">
                           7.케냐로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/paris.jpg" class="card-img-top" alt="paris">
                        <div class="card-body">
                            <p class="card-text">
                            8. 파리로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/public/images/seoul.jpg" class="card-img-top" alt="seoul">
                        <div class="card-body">
                            <p class="card-text">
                           9. 서울로 떠나는 여행
                            </p>
                        </div>
                    </div>
                </div>

            </div>
          
                