.main-title {
    .small {
      float: right;
      font-size: 1rem;
      color: #bbb;
    }
  }
  .item {
    line-height: 160%;
    margin-bottom: 1em;
    .title {
      font-size: 1.3rem;
    }
    .content {
      color: rgb(5, 5, 5);
    }
    
  }
  .userID{
    text-align: right;
    font-size: 0.8em;
    color: #81bbf2;
  }
  .numbers {
    text-align: left;
    color: #81bbf2;
  }
  .number {
    font-size: 1.2em;
    font-weight: bold;
    color: #0f5ca6;
  }
  .items {
    .content {
      max-height: 5em;
      overflow: hidden;
      text-overflow:ellipsis;
    }
  }
  .show {
    .content {
      white-space: pre-wrap;
    }

    .buttons {
      margin: 1em 0;
    }
  
    .comment {
      position: relative;
      .card-body{
        padding-left: 4em;
      }
      margin-bottom: 1em;
      .content {
        margin-bottom: 0.5em;
        color: #bbb;
      }
    }
  }