.form-group
  label(for="place") 인원
  input.form-control(type="text", name="people", placeholder="참여 인원 수 ", value=order.people)
.form-group
  label(for="title") 날짜
  input.form-control(type="text", name="tourDate", placeholder="투어 예약 날짜", value=order.tourDate)
.from-group
  label(for="price") 총 가격
  input.form-control(type="text", name = "totPrice", placeholder="투어 예약 날짜", value =order.totPrice)
