extends ../layout

block content
  .container
    h1.main-title 예약 내역 수정하기 
    form(action=`/orders/${order.id}`, method="POST")
      input(type="hidden", name="_method", value="PUT")
      include _form
      button.btn.btn-outline-primary(type="submit") 예약 내용 수정
