extends ../layout
include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/orders', method = 'GET')
     
    h3.main-title
      |투어 예약하기 
      if items.total > 0
        .small Total #{items.total} item(s)

    if items.total <= 0
      .alert.alert-info No items available yet
    else
      .items
        each item in items.docs
          .item
            a.title(href=`/items/${item.id}`)= item.title
            include _item
      +paginate(items, '/items', query)
    hr
    a.btn.btn-primary(href='/items/new') Upload Tour Items