extends ../layout
include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/orders', method = 'GET')
     
    h3.main-title
      |투어 예약하기 
      if orders.total > 0
        .small Total #{orders.total} order(s)

    if orders.total <= 0
      .alert.alert-info No orders available yet
    else
      .orders
        each order in orders.docs
          .order
            a.item(href=`/orders/${order.id}`)= order.item
            include _order
      
    hr
    a.btn.btn-primary(href='/orders/new') Upload Tour orders