extends ../layout
include ../includes/_paginate

//- 로그인 성공 이후 보여질 화면
//- 투어상품 리스트가 쭉 나열되도록 보여준다-게시판의 질문글 이용하면 될 듯  

block content
  .container
    form.form-inline.search-input-group(action='/items', method = 'GET')
      i.fa.fa-serch
      input.form-control.mr-sm-2(type='text', name='term',placeholder='여행지나 상품을 검색해보세요', aria-label='Search', value=term)

    h1.main-title
      |Tour Items
      if items.total > 0
        .small Total #{items.total} item(s)

    if items.total <= 0
      .alert.alert-info No items available yet
    else
      .items
        each item in items.docs
          .item
            a.title(href=`/items/${item.id}`)= item.title
            include _item
      +paginate(items, '/items', query)
    hr
    a.btn.btn-primary(href='/items/new') Upload Tour Items